.stats-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.quest-container {
    margin: 20px;
    position: relative;
}

.quest-list {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 25px;
}

.unlock-all-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px; /* Match padding of checkboxes */
    font-size: 0.8rem;
    color: gray;
}

/* deprecated */
::ng-deep .unlock-all-container .mat-mdc-checkbox .mdc-form-field {
    font-size: 0.8rem !important;
    color: gray !important;
}

.card-container {
    flex: 1 1 calc(50% - 40px);
    margin: 20px;
    flex-direction: column;
    box-sizing: border-box;
}

.card-content-wrapper {
    flex: 1; /* Takes up remaining space */
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
}

.inner-card {
    margin: 10px;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
}

.mat-mdc-slider {
    max-width: 300px;
    width: 100%;
}

.label-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0;
    max-width: 280px;
}

.konar-options {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Add spacing */
}