<app-navbar></app-navbar>


<div class="tab-buttons">
	@for (master of slayerMasters; track $index) {
		<button class="tab-button" [class.active]="selectedTab === $index" (click)="onTabChanged($index)">
			{{ master.name }}
		</button>
	}
</div>

<app-account-settings 
	(questsUpdated)="onQuestsUpdated($event)" 
	(slayerLvlUpdated)="onSlayerUpdated($event)" 
	(combatLvlUpdated)="onCombatUpdated($event)"
	(pointsFormUpdated)="onPointsFormUpdated($event.value)">
</app-account-settings>

<app-block-list-table #blockListTable 
	[Tasks]="slayerMasters[selectedTab].tasks"
	[averagePoints]="averagePoints"
	[userCombatLvl]="combatLvl"
	[userSlayerLvl]="slayerLvl"
	[quests]="quests">
</app-block-list-table>
