<app-navbar></app-navbar>


<div class="tab-buttons">
	@for (master of slayerMasters; track $index) {
		<button class="tab-button" [class.active]="selectedTab === $index" (click)="onTabChanged($index)">
			{{ master.name }}
		</button>
	}
</div>

<app-account-settings
	[zoneName]="slayerMasters[selectedTab].zone"
	(questsUpdated)="onQuestsUpdated($event)" 
	(levelsUpdated)="onLevelsUpdated($event)"
	(pointsFormUpdated)="onPointsFormUpdated($event)">
</app-account-settings>

<app-block-list-table 
	[Tasks]="selectedTasks"
	[averagePoints]="averagePoints"
	[userLevels]="levelsData"
	[quests]="quests">
</app-block-list-table>
