table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.icon-button-container {
    display: flex;
    justify-content: end;
    width: 120px;
}

.icon-button {
    margin: 5px;
}

.bottom-card-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 75%;
}

.bottom-card {
    justify-content: center;
    margin: 10px;
}

.reqs-inner-card {
    width: 50%;
}

.example-result-card {
    background-color: antiquewhite;
}

.example-h2 {
    margin-left: 10px;
    margin-right: 10px;
}
  
.example-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.example-margin {
    margin: 8px;
}

.example-width {
    max-width: 180px;
    width: 100%;
}

.mat-mdc-slider {
    max-width: 300px;
    width: 100%;
}

.mat-mdc-card + .mat-mdc-card {
    margin-top: 8px;
}

.example-result-card h2 {
    margin: 0 8px;
}

.example-label-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0;
    max-width: 284px;
}

.example-result-card .example-value-label {
    font-weight: 600;
}