table {
    width: 100%;
}

.table-container {
    margin: 20px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 2%;
}

.icon-button-container {
    display: flex;
    justify-content: end;
    width: 120px;
}

.icon-button {
    margin: 5px;
}

.card-container {
    margin: 20px;
}

.inner-card {
    margin: 10px;
    flex: 1 1 auto;
    justify-content: center;
}